# JWT Secret
JWT_SECRET=secret

# Postgres pins
POSTGRES_USER=postgres  # Database user
POSTGRES_PASSWORD=pass  # Database password
POSTGRES_HOST=localhost # Database host
POSTGRES_PORT=5433      # Database port 5433 for local development 5432 for production
POSTGRES_DB=pin_db      # Database name