# JWT Secret
JWT_SECRET=secret

# Postgres users
POSTGRES_USERS_USER=postgres  # Database user
POSTGRES_USERS_PASSWORD=pass  # Database password
POSTGRES_USERS_HOST=localhost # Database host
POSTGRES_USERS_PORT=5432      # Database port
POSTGRES_USERS_DB=user_db     # Database name

# Postgres pins
POSTGRES_PINS_USER=postgres  # Database user
POSTGRES_PINS_PASSWORD=pass  # Database password
POSTGRES_PINS_HOST=localhost # Database host
POSTGRES_PINS_PORT=5433      # Database port 5433 for local development 5432 for production
POSTGRES_PINS_DB=pin_db      # Database name