# JWT Secret
JWT_SECRET=SECRET

# Postgres users
POSTGRES_USER=postgres       # Database user
POSTGRES_PASSWORD=pass       # Database password
POSTGRES_HOST=localhost      # Database host
POSTGRES_PORT=5432           # Database port
POSTGRES_DB=interaction_db   # Database name